/*------------------------------
            common
------------------------------*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500;700&display=swap');

.eng {
  font-family: 'Pacifico', cursive;
}
.kor {
  font-family: 'Noto Sans KR', sans-serif;
}
main {
  position: relative;
  z-index: 9;
  height:100vh;
}
 *{
   box-sizing: border-box;
 }
 input[type="text"] {
  border:1px solid transparent;
  padding:10px;
  border-radius: 5px;
  font-size:16px;
  width:100%;
}
input[type="text"]:focus {
  outline: 1px solid #9d61d8;
}
::selection {
  background:#9d61d8;
  color:#fff;
}

audio {
  position: relative;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  z-index:10;
}


/*------------------------------
            body-background
------------------------------*/
body {
  background-repeat: no-repeat;
  background-position: top center;
  position:relative;
  transition: background-image 4s;
}
body::after {
  content:'';
  position: absolute;
  top:0;
  left:0;
  background:rgba(52,0,126,.5);
  width:100%;
  height:100%;
}


/*------------------------------
            loading page
------------------------------*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(45deg, rgba(103,4,181,1) 0%, rgba(52,0,126,1) 0%, rgba(116,0,212,1) 33%, rgba(116,0,212,1) 58%, rgba(52,0,126,1) 100%);
  z-index: 9999;
  opacity: 1;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .textbox {
  text-align: center;
}
.loader img {
  width:20%;
  opacity:0;
  animation-name: visualAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.loader p {
  font-size: 60px;
  margin-top:60px;
  color: #fff;
  opacity:0;
  animation-name: visualAnimation;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes visualAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.hidden {display:none;}

#greeting {
  color:#fff;
  
  font-size:50px;
  text-align: center;
}


/*------------------------------
            clock
------------------------------*/
#clock {
  color:#fff;
  padding:20px;
  line-height: 1em;
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-top:20px;
}
#clock span {
  font-size:3em;
  margin-right:10px;
  
  font-weight: bold;
}
#clock h2 {
  font-size:2.8em;
  
  font-weight: bold;
}
#clock p {
  width:100%;
  
  font-weight: bold;
  font-size:2em;
  margin-top:10px;
}


/*------------------------------
            login
------------------------------*/
.login-wrapper {
  max-width:90%;
  margin:0 auto;
}

.login-wrapper h2 {
  display:none;
}

.login-form input#btn {
  border:1px solid #9d61d8;
  width:100%;
  text-align: center;
  font-size:16px;
  padding:10px 20px;
  border-radius: 5px;;
  background:#9d61d8;
  color:#fff;
  margin-top:10px;
}


/*------------------------------
            weather
------------------------------*/

#weather {
  background:rgba(255,255,255,.8);
  width:90%;
  text-align: center;
  margin:0 auto 30px;
  border-radius: 5px;
}
#weather span {
  position:relative;
  font-size:16px;
}
#weather span:first-child:before {
  content:'thermostat';
  font-family: 'Material Icons';
  vertical-align: bottom; 
}
#weather span:last-child:before {
  content:'location_on';
  font-family: 'Material Icons';
  vertical-align: bottom;
  margin-left: 20px;
}


/*------------------------------
            quotes
------------------------------*/

#quotes {
  border-top:1px solid #fff;
  position: absolute;
  bottom:0;
  width:100%;
  text-align: center;
  color:#fff;
  padding:10px 20px
}
#quotes span {
  font-size: 16px;
  display: block;
  
  line-height: 24px;
}


/*------------------------------
            todo list
------------------------------*/

#wrapper {
  text-align:center;
  margin:30px auto 0;
  max-width:90%;
  padding:20px;
  background:rgba(255,255,255,.8);
  border-radius: 5px;
  height:310px;
  overflow-y: scroll;
}

#todo-form h3 {
  color:#000;
  font-size:30px;
  margin-bottom: 20px;
  position: relative;
}
#todo-form h3::before {
  content:'view_list';
  font-family: 'Material Icons';
  font-size:34px;
  vertical-align: bottom;
}
#todo-form input[type="text"] {
  width:74%;
}
#todo-form input#todo-btn {
  border:1px solid #9d61d8;
  text-align: center;
  font-size:16px;
  padding:8px 14px;
  border-radius: 5px;;
  background:#9d61d8;
  color:#fff;
  margin-top:10px;
  vertical-align: bottom;
}

/* list */
.todo-list p {
  display:none;
}
#wrapper #todo-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items:flex-start; */
  margin-top:20px;
}
#wrapper #todo-list li {
  width:48%;
  font-size:16px;
  text-align: left;
  position:relative;
  margin-bottom: 10px;
  border-bottom: 1px dashed #9d61d8;
  padding-bottom: 5px;
  
}
#wrapper #todo-list li span {
  display: block;
  width:74%;
  word-break: break-all;
}
#wrapper #todo-list li button {
  font-family: 'Material Icons';
  border:1px solid #9d61d8;
  border-radius: 5px;
  background:#9d61d8;
  color:#fff;
  width:32px;
  height:32px;
  position:absolute;
  right:0;
  top:0;
}



@media screen and (min-width:768px) {
  input[type="text"] {width:70%}
  .login-form input#btn {width:29%}
  #wrapper {height:300px;}
  input[type="submit"], button {cursor: pointer;}
  .login-wrapper h2 {display:block;color:#fff;font-size:2.4em;line-height: normal;text-align: center;}
}

@media screen and (min-width:1025px) {
  #greeting {font-size:70px;margin:0;line-height: normal;}

  #weather {width:20%; position: absolute; right:1%; top:1%;margin-bottom: 0;}
  #weather span {display:inline-block;}
  

  #clock {padding:0; margin:0;position: absolute;top:1%; left:1%;justify-content: flex-start; text-align: left;}
  #clock p{font-size:2.1em;}


  .login-wrapper {padding:100px 0 0;max-width:1200px;}
  .login-wrapper h2 {font-size:3em;line-height: normal;text-align: center;}


  #wrapper {max-width:1200px; height:550px;}
  .todo-list {display:flex;justify-content: space-between;align-items: flex-start;}
  .todo-list p {display:block; width:30%; margin-top:20px;}
  .todo-list p img {border-radius: 10px;}
  #wrapper #todo-list { width:69%;}

  audio {position: absolute; top:auto; bottom:1%; left:1%;transform: translateX(0);}

  /* scrollbar */
  #wrapper::-webkit-scrollbar {width: 8px;}
  #wrapper::-webkit-scrollbar-thumb {background-color: #9d61d8; border-radius: 10px; background-clip: padding-box; border: 1px solid transparent;}
  #wrapper::-webkit-scrollbar-track {background-color: #eee; border-radius: 10px; }
}
